body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-inner {
    background-color: #DDDDDD;
 /* fallback color, place your own */
}

.a {
    color: #888888;
}

.menutitle {
    color: #888888;
}

.page-header {
    margin: 20px 0 20px;
  /*margin:0 auto 0 auto;*/
}

.header-description {
    float: left;
}

.playerwindow object {
    margin: 0 auto;
}

.amazonad{
  display: block;
  margin: 50px 0 20px;
}

.button_google {
    float: left;
    width: 80px;
}

.twitter-share-button {
    width: 120px !important;
}

.player-controller {
    cursor: pointer;
    font-size: 24px;
}

.videoimg {
  max-width: 100%;
}

.playing {
    border: medium solid #ff00ff;
}

ul.vertical-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-y: auto;
}

ul.vertical-slide li[class*="span"] {
    display: inline-block;
    float: none;
}

ul.vertical-slide li[class*="span"]:first-child {
    margin-left: 0;
}

img.videoimg {
    cursor: pointer;
}

.navbar-nav>li.padding-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.control{
    margin : auto;
}

.element{
    margin: 0px;
    padding: 0px;
}

.date{
    color: white;
}

.hover-bottom {
/*position: absolute;
top: 140px;*/
height: 50px;
background-color: #FFFFFF;
filter: alpha(opacity=85);
-moz-opacity: 0.85;
-khtml-opacity: 0.85;
opacity: 0.85;
width: 100%;
white-space: nowrap;
}
